* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style-type: none;
}


html,
body {
    height: 100%;
    background-color: #ddd;
    overflow: hidden;
}


body {
    font-size: 18px;
}


u {
    color: red;
}


.header {
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    background-color: #3d5242;
}


.menu {
    display: flex;
    justify-content: center;
    background-color: #3d5242;
}


.menu__button {
    border: 1px solid black;
    /* border-right: 3px solid black; */
    padding: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
}


.menu__button:hover {
    background-color: rgb(82, 96, 85);
}


.menu__button:active {
    background-color: transparent;
    border-color: transparent;
}


.window {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.window_hide {
    display: none;
}


.window__outer-shadow {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
}


.window__content {
    position: absolute;
    z-index: 101;
    border: 2px solid black;
    border-top: 10px solid #3d5242;
    padding: 10px;
    padding-top: 20px;
    width: 400px;
    background-color: #ddd;
}


.window__close-button {
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
    padding: 3px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: #3d5242;
    cursor: pointer;
}


.window__close-button:hover {
    background-color: rgb(82, 96, 85);
}


.window__close-button:active {
    background-color: transparent;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main > * {
    margin-top: 20px;
}


.info {
    display: flex;
    width: 90%;
    justify-content: flex-start;
}


.info > img {
    border: 1px solid black;
    margin-right: 50px;
    padding: 5px;
    background-color: #00000030;
}


.info > img:last-child {
    margin-right: 0;
}


.seq {
    display: flex;
    width: 90%;
    overflow-x: auto;
}


.seq__header {
    border: 1px solid black;
    padding: 10px;
    width: 150px;
    padding-top: 35px;
    text-align: center;
    background-color: #00000030;
}


.seq__number-header,
.seq__value-header {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    line-height: 40px;
    text-align: center;
    background-color: #00000030;
}


.seq__number,
.seq__value {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
}


.seq__number {
    font-weight: bold;
    color: white;
    background-color: #3d5242;
}
